transformers
torch
transformers>=4.36.0
protobuf>=4.21.0
sentencepiece
tiktoken
beautifulsoup4
selenium
webdriver-manager
python-dateutil
Flask
Flask-CORS
requests
beautifulsoup4==4.12.2
lxml==4.9.3
urllib3==2.0.7
pytz
